<a href="https://colab.research.google.com/github/MyPham1207/Python_for_ML/blob/main/Assignments/Classification/Classification_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

import pandas as pd

from sklearn.model_selection import KFold
from sklearn.preprocessing import MinMaxScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

import numpy as np

Mounted at /content/drive

In [2]:
cd '/content/drive/MyDrive/School/Python_for_ML/Assignment_6/Data'

/content/drive/MyDrive/School/Python_for_ML/Assignment_6/Data

#1.Assignment 1

##Step 1: Load data

In [3]:
data = pd.read_csv('Social_Network_Ads.csv')
# shuffle the data or else the data will be skewed
data = data.sample(frac=1).reset_index(drop=True)
data.head()

   Age  EstimatedSalary  Purchased
0   36           125000          1
1   41            30000          0
2   34            43000          0
3   35            38000          0
4   27            58000          0

##Step 2: Split and normalize data

In [4]:
# Split the data
n_splits = 5
kf = KFold(n_splits)
train_index = []
test_index = []
# train_index[0] will have value range from 80 -> 399, test_index[0] will have value range from 0 -> 79
for train, test in kf.split(data):
  train_index.append(train)
  test_index.append(test)

In [5]:
train_data = []
test_data = []
for i in range(n_splits):
  train_data.append(data.iloc[train_index[i]])
  test_data.append(data.iloc[test_index[i]])

train_data[0].head()

    Age  EstimatedSalary  Purchased
80   38            61000          0
81   41            79000          0
82   19            25000          0
83   28            89000          0
84   25            22000          0

In [6]:
col = list(data.columns)
X_tag = col[0:len(col)-1]
y_tag = [col[len(col)-1]]
y_tag

['Purchased']

In [7]:
norm_train_data = []
norm_test_data = []
for i in range(n_splits): 
  scaler = MinMaxScaler()
  transformer = scaler.fit(train_data[i][X_tag])
  Xtrain_temp = pd.DataFrame(transformer.transform(train_data[i][X_tag]), columns=train_data[i][X_tag].columns, index=train_data[i][X_tag].index) 
  Xtest_temp = pd.DataFrame(transformer.transform(test_data[i][X_tag]), columns=test_data[i][X_tag].columns, index=test_data[i][X_tag].index)
  norm_train_data.append(Xtrain_temp)
  norm_test_data.append(Xtest_temp)

norm_train_data[0].head()

         Age  EstimatedSalary
80  0.476190         0.343284
81  0.547619         0.477612
82  0.023810         0.074627
83  0.238095         0.552239
84  0.166667         0.052239

##Step 4: Training and calculating accuracy

In [8]:
def train_and_predict(norm_train_data, norm_test_data, train_data, n_splits, model):
  y_predict = []
  for i in range(n_splits):
    y_pred = model.fit(norm_train_data[i], np.ravel(train_data[i][y_tag])).predict(norm_test_data[i])
    y_predict.append(y_pred)
  return y_predict

In [9]:
def accuracyCalc(y_predict, test_data, n_splits):
  accuracy = 0
  for i in range(n_splits):
    y_test = np.ravel(test_data[i][y_tag])
    acc = accuracy_score(y_test, y_predict[i])
    accuracy += acc
  accuracy = accuracy / n_splits * 100
  return accuracy

In [10]:
out = open('Accuracy.txt', 'w')
out.write('The accuracy of: \n')

18

##a.Gaussian Naive Bayes

In [11]:
model = GaussianNB()
y_predict = train_and_predict(norm_train_data, norm_test_data, train_data, n_splits, model)
acc = accuracyCalc(y_predict, test_data, n_splits)
out.write('+ Gaussian Naive Bayes: ' + str(acc) + '\n')

30

##b.Logistic Regression

In [12]:
model = LogisticRegression(random_state=0)
y_predict = train_and_predict(norm_train_data, norm_test_data, train_data, n_splits, model)
acc = accuracyCalc(y_predict, test_data, n_splits)
out.write('+ Logistic Regression: ' + str(acc) + '\n')

28

##c.Support Vector Machine

In [13]:
model = svm.SVC()
y_predict = train_and_predict(norm_train_data, norm_test_data, train_data, n_splits, model)
acc = accuracyCalc(y_predict, test_data, n_splits)
out.write('+ Support Vector Machine: ' + str(acc) + '\n')

44

##d.K-Nearest Neighbors

In [14]:
model = KNeighborsClassifier(n_neighbors=3)
y_predict = train_and_predict(norm_train_data, norm_test_data, train_data, n_splits, model)
acc = accuracyCalc(y_predict, test_data, n_splits)
out.write('+ K-Nearest Neighbors: ' + str(acc) + '\n')

41

##e.Decision Tree

In [15]:
model = tree.DecisionTreeClassifier()
y_predict = train_and_predict(norm_train_data, norm_test_data, train_data, n_splits, model)
acc = accuracyCalc(y_predict, test_data, n_splits)
out.write('+ Decision Tree: ' + str(acc) + '\n')

23

##f.Random Forest

In [16]:
model = RandomForestClassifier(max_depth=2, random_state=0)
y_predict = train_and_predict(norm_train_data, norm_test_data, train_data, n_splits, model)
acc = accuracyCalc(y_predict, test_data, n_splits)
out.write('+ Random Forest: ' + str(acc) + '\n')

23

In [17]:
out.close()