<a href="https://colab.research.google.com/github/MyPham1207/Python_for_ML/blob/main/Assignments/Classification/Classification_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

import pandas as pd

from sklearn.model_selection import KFold
from sklearn.preprocessing import MinMaxScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

import numpy as np

Mounted at /content/drive

In [ ]:
cd '/content/drive/MyDrive/School/Python_for_ML/Assignment_6/Data'

/content/drive/MyDrive/School/Python_for_ML/Assignment_6/Data

#1.Assignment 1

##Step 1: Load data

In [ ]:
data = pd.read_csv('Social_Network_Ads.csv')
# shuffle the data or else the data will be skewed
data = data.sample(frac=1).reset_index(drop=True)
data.head()

   Age  EstimatedSalary  Purchased
0   38            51000          0
1   57           122000          1
2   60            42000          1
3   30            62000          0
4   51           134000          0

##Step 2: Split and normalize data

In [ ]:
# Split the data
n_splits = 5
kf = KFold(n_splits)
train_index = []
test_index = []
# train_index[0] will have value range from 80 -> 399, test_index[0] will have value range from 0 -> 79
for train, test in kf.split(data):
  train_index.append(train)
  test_index.append(test)

In [ ]:
train_data = []
test_data = []
for i in range(n_splits):
  train_data.append(data.iloc[train_index[i]])
  test_data.append(data.iloc[test_index[i]])

train_data[0].head()

    Age  EstimatedSalary  Purchased
80   25            22000          0
81   37            78000          1
82   39            71000          0
83   29            43000          0
84   37            74000          0

In [ ]:
norm_train_data = []
norm_test_data = []
for i in range(n_splits): 
  scaler = MinMaxScaler()
  transformer = scaler.fit(train_data[i])
  train_temp = pd.DataFrame(transformer.transform(train_data[i]), columns=train_data[i].columns, index=train_data[i].index) 
  test_temp = pd.DataFrame(transformer.transform(test_data[i]), columns=test_data[i].columns, index=test_data[i].index)
  norm_train_data.append(train_temp)
  norm_test_data.append(train_temp)

norm_train_data[0].head()

         Age  EstimatedSalary  Purchased
80  0.166667         0.051852        0.0
81  0.452381         0.466667        1.0
82  0.500000         0.414815        0.0
83  0.261905         0.207407        0.0
84  0.452381         0.437037        0.0

##Step 4: Training and calculating accuracy

In [ ]:
col = list(data.columns)
X_tag = col[0:len(col)-1]
y_tag = [col[len(col)-1]]
y_tag

['Purchased']

In [ ]:
def train_and_predict(norm_train_data, norm_test_data, n_splits, model):
  y_predict = []
  for i in range(n_splits):
    y_pred = model.fit(norm_train_data[i][X_tag], np.ravel(norm_train_data[i][y_tag])).predict(norm_test_data[i][X_tag])
    y_predict.append(y_pred)
  return y_predict

In [ ]:
def accuracyCalc(y_predict, norm_test_data, n_splits):
  accuracy = 0
  for i in range(n_splits):
    y_test = np.ravel(norm_test_data[i][y_tag])
    acc = accuracy_score(y_test, y_predict[i])
    accuracy += acc
  accuracy = accuracy / n_splits * 100
  return accuracy

In [ ]:
out = open('Accuracy.txt', 'w')
out.write('The accuracy of: \n')

18

###a.Gaussian Naive Bayes

In [ ]:
model = GaussianNB()
y_predict = train_and_predict(norm_train_data, norm_test_data, n_splits, model)
acc = accuracyCalc(y_predict, norm_test_data, n_splits)
out.write('+ Gaussian Naive Bayes: ' + str(acc) + '\n')

29

##b.Logistic Regression

In [ ]:
model = LogisticRegression(random_state=0)
y_predict = train_and_predict(norm_train_data, norm_test_data, n_splits, model)
acc = accuracyCalc(y_predict, norm_test_data, n_splits)
out.write('+ Logistic Regression: ' + str(acc) + '\n')

31

##c.Support Vector Machine

In [ ]:
model = svm.SVC()
y_predict = train_and_predict(norm_train_data, norm_test_data, n_splits, model)
acc = accuracyCalc(y_predict, norm_test_data, n_splits)
out.write('+ Support Vector Machine: ' + str(acc) + '\n')

44

##d.K-Nearest Neighbors

In [ ]:
model = KNeighborsClassifier(n_neighbors=3)
y_predict = train_and_predict(norm_train_data, norm_test_data, n_splits, model)
acc = accuracyCalc(y_predict, norm_test_data, n_splits)
out.write('+ K-Nearest Neighbors: ' + str(acc) + '\n')

31

##e.Decision Tree

In [ ]:
model = tree.DecisionTreeClassifier()
y_predict = train_and_predict(norm_train_data, norm_test_data, n_splits, model)
acc = accuracyCalc(y_predict, norm_test_data, n_splits)
out.write('+ Decision Tree: ' + str(acc) + '\n')

35

##f.Random Forest

In [ ]:
model = RandomForestClassifier(max_depth=2, random_state=0)
y_predict = train_and_predict(norm_train_data, norm_test_data, n_splits, model)
acc = accuracyCalc(y_predict, norm_test_data, n_splits)
out.write('+ Random Forest: ' + str(acc) + '\n')

24

In [ ]:
out.close()