<a href="https://colab.research.google.com/github/MyPham1207/Python_for_ML/blob/main/Assignments/Classification/XGB_GBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import xgboost as xgb

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/School/Python_for_ML/XGBoost_GBM/Data.csv')
data.head()

   Sample code number  Clump Thickness  ...  Mitoses  Class
0             1000025                5  ...        1      2
1             1002945                5  ...        1      2
2             1015425                3  ...        1      2
3             1016277                6  ...        1      2
4             1017023                4  ...        1      2

[5 rows x 11 columns]

In [ ]:
# drop NaN if have
data = data.dropna()

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 0 to 682
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample code number           683 non-null    int64
 1   Clump Thickness              683 non-null    int64
 2   Uniformity of Cell Size      683 non-null    int64
 3   Uniformity of Cell Shape     683 non-null    int64
 4   Marginal Adhesion            683 non-null    int64
 5   Single Epithelial Cell Size  683 non-null    int64
 6   Bare Nuclei                  683 non-null    int64
 7   Bland Chromatin              683 non-null    int64
 8   Normal Nucleoli              683 non-null    int64
 9   Mitoses                      683 non-null    int64
 10  Class                        683 non-null    int64
dtypes: int64(11)
memory usage: 64.0 KB

In [ ]:
data.shape

(683, 11)

--> These columns don't have null value.

In [ ]:
# Drop 'Sample code number' columns because it doesn't affect the label an example will have
data = data.drop(columns=['Sample code number'])

In [ ]:
X, y = data.iloc[:, :-1], data.iloc[:, -1]
X.shape, X.columns

((683, 9), Index(['Clump Thickness', 'Uniformity of Cell Size',
        'Uniformity of Cell Shape', 'Marginal Adhesion',
        'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin',
        'Normal Nucleoli', 'Mitoses'],
       dtype='object'))

In [ ]:
num_class = len(y.value_counts())

In [ ]:
data_DMatrix = xgb.DMatrix(data=X, label=y)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
X_train.head()

     Clump Thickness  Uniformity of Cell Size  ...  Normal Nucleoli  Mitoses
437                3                        1  ...                1        1
256                7                        9  ...                3        3
584                5                        2  ...                1        1
18                10                        7  ...                1        2
350                2                        1  ...                1        1

[5 rows x 9 columns]

In [ ]:
scaler = StandardScaler()
scaler.fit(X_train)
norm_X_train = pd.DataFrame(scaler.transform(X_train), columns = X_train.columns, index=X_train.index)
norm_X_test = pd.DataFrame(scaler.transform(X_test), columns = X_test.columns, index = X_test.index)
norm_X_train.head()

     Clump Thickness  Uniformity of Cell Size  ...  Normal Nucleoli   Mitoses
437        -0.512989                -0.689842  ...        -0.594774 -0.339066
256         0.936388                 1.930357  ...         0.083902  0.886960
584         0.211699                -0.362317  ...        -0.594774 -0.339066
18          2.023421                 1.275308  ...        -0.594774  0.273947
350        -0.875334                -0.689842  ...        -0.594774 -0.339066

[5 rows x 9 columns]

#XGBoost

In [ ]:
xg_class = xgb.XGBClassifier(objective='reg:logistic')

In [ ]:
xg_class.fit(norm_X_train, y_train)
y_pred = xg_class.predict(norm_X_test)
xgb_acc = accuracy_score(y_test, y_pred)

#GBM

In [ ]:
gbc = GradientBoostingClassifier()

In [ ]:
gbc.fit(norm_X_train, y_train)
y_pred = gbc.predict(norm_X_test)
gbc_acc = accuracy_score(y_test, y_pred)

#Result

In [ ]:
result = pd.DataFrame(index=['XGBoost', 'GBM'])
result['Accuracy'] = [xgb_acc, gbc_acc]
result

         Accuracy
XGBoost  0.948905
GBM      0.956204